include mixin/_mixin
doctype html
html(lang="zh-TW")
	head
		meta(charset="utf-8")
		meta(content="width=device-width, initial-scale=1.0", name="viewport")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(property="og:title" content="")
		meta(property="og:site_name" content="")
		meta(property="og:url" content="")
		meta(property="og:image" content="")
		meta(property="og:description" content="")
		link(type='image/x-icon' href="")

		block pagetitle
			title Untitiled Project
		//-StyleSheets
		link(href='assets/stylesheets/all.css', type='text/css', rel='stylesheet')

	body
		#sb-site
			#wrapper
				include partials/navigator
				main
					block content
						p this page is empty.
				footer
					block footer
						#footer
							p footer message

		.sb-slidebar.sb-left
			include partials/navigator-slide

		//-Scripts
		block scripts
			script(src='assets/javascripts/app.min.js')